@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic-ext');

/*comments*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
		padding-top: 30px;
		font-size: 30px;
		padding-left: 275px;
	}
p {
	margin: 10px 0;
	color: #d9d9d9;
	}


header {
	border-top: 5px solid red;
}

img {
	width: 100%;
	max-width: 1400px;
	height: 300px;
	padding-top: 50px;
}
h2 {
	padding-top: 30px;
	font-size: 20px;
	color: #747474;
	max-width: 500px;
	padding-bottom: 20px;
}

.wrapper {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 20px;
	}

.bottom-header p {
	max-width: 400px;
	font-size: 20px;
	color: #747474;
	padding-left: 275px;
}

.section02 { 
	font-size: 13px;
	color: #747474;	
	height: 250px;
}
.section03 {
	background-color: #e44a4a;
	max-width: 1400px;
	height: 200px;
	font-style: italic;
	color: #ffffff;
	padding-top: 70px;
}

.menu li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	padding-top: 20px;
}
.menu a {
		color: grey;
		font-size: 20px;
		text-decoration: none;
}
.link {
	color: grey;
	padding: 1px;
	border: 1px solid grey;
}

